---
import DummyComponent from "../components/DummyComponent";
import DummyImage from "../components/DummyImage";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <DummyComponent client:load firstName="John" />
    <DummyImage client:load src="/astro.jpeg" />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>